<% provide :title, t("home.title") %>
<h1>
  <%= t("home.heading") %>
</h1>
<p>
  <%= t("home.before_tutorial") %>
  <%= link_to t("home.tutorial"), Settings.home_link %>.
</a>
  <%= t("home.after_tutorial") %>
</p>
